<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>
    <h2>Edit Your post</h2>
    <p>post id:</p>
    <p>post username:</p>
    <form>
<textarea></textarea>
<button>Submit</button>
    </form>
    
</body>
</html>